.landing-header-logo {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 50px;
}

.landing-header-logo.isMobile {
    padding-left: 20px;
}

.menu-header {
    width: 100%;
    height: 100%;
}

.connect-button-header {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.connect-button-header button {
    background-color: #FFFFFF33;
    border-radius: 25px !important;
    padding: 0px 20px !important;
    color: white;
    font-size: 14px;
    border: none !important;
}


.ant-menu-item {
    font-size: 16px !important;
    font-weight: 600 !important;
    color:white !important;
  }
  
  .ant-menu-item-selected {
    background-color: transparent !important;
    color: white !important;
    font-weight: 700 !important;
  }


  .ant-menu-item.menu-with-icon-beta {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
  }

  .landing-header {
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
    display: flex;
    align-items: center;
    height: 64px;
    padding: 0px 50px;
  }

  .landing-header.isMobile {
    padding: 0px !important;
  }

  .header-button-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
  }
