/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
*,
html {
  scroll-behavior: smooth !important;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* /styles/tailwind.css */

@layer components {
  .nav-menu {
    @apply hidden;
  }

  .nav-menu-open {
    @apply block;
  }
}

@media (min-width: 768px) {
  @layer components {
    .nav-menu {
      @apply block;
    }

    .nav-menu-open {
      @apply hidden;
    }
  }
}

.stretch-background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
